<h3>Dear {{name}}:</h3>

<p>You have been outbid! TO win the item before the auction ends, please click  <a href="{{ url('auction_show'),{'auctionID':auctionID} }}">THIS LINK</a> to place more bid to secure your item!</p>

<p>Hurry up!</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">


