<h3>Dear {{name}}:</h3>

<p>Your auction {{itemName}} has been sold! To view the item again, please click  <a href="{{ url('auction_show',{'auctionID':auctionID}) }}">this link</a>!</p>

<p>Thank you for listing!</p>
<br>
<p>Boo Boo Auction</p>
