{% extends 'base.html.twig' %}

{% block body %}
	{% if owner %}
    <h1>User show.html.twig user is owner</h1>
  {% else %}
  <h1> user is not owner of profile page </h1>
  {% endif %}

{% endblock %}
